.scrollToTop{background-color:#d07b28; color:#fff}
.scrollToTop:hover, .scrollToTop:focus{background-color:#fff; color:#d07b28; border-color:1px solid #d07b28}
.logo > span{color:#d07b28}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{background-color:#d07b28}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{background-color:#d07b28}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#d07b28}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#d07b28}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{background-color:#d07b28}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{background-color:#d07b28}
.latest_newsarea span{background:none repeat scroll 0 0 #d07b28}
.latest_post > h2 span{background:none repeat scroll 0 0 #d07b28}
#prev-button{color:#d07b28}
#next-button{color:#d07b28}
.single_post_content > h2 span{background:none repeat scroll 0 0 #d07b28}
.single_sidebar > h2 span{ background:none repeat scroll 0 0 #d07b28}
.bsbig_fig figcaption a:hover{color:#d07b28}
.spost_nav .media-body > a:hover{color:#d07b28}
.cat-item a:hover{background-color:#d07b28}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus{background-color:#d07b28}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background-color:#d07b28}
.single_sidebar > ul > li a:hover{color:#d07b28}
.footer_widget > h2:hover{color:#d07b28}
.tag_nav li a:hover{color:#d07b28; border-color:#d07b28}
.copyright a:hover{color:#d07b28}
.post_commentbox a:hover, .post_commentbox span:hover{color:#d07b28}
.breadcrumb{border-left:10px solid #d07b28}
.single_page_content ul li:before{background-color:#d07b28}
.single_page_content h2, .single_page_content h3, .single_page_content h4, .single_page_content h5, .single_page_content h6{color:#d07b28}
.nav-slit .icon-wrap{background-color:#d07b28}
.nav-slit h3{background:#d07b28}
.catgArchive{background-color:#d07b28}
.error_page > h3{color:#d07b28}
.error_page > span{background:none repeat scroll 0 0 #d07b28}
.error_page > a{background-color:#d07b28}
.contact_area > h2{background-color:#d07b28}

.contact_form input[type="submit"]{background-color:#d07b28}
.contact_form input[type="submit"]:hover{background-color:#fff; color:#d07b28}

.contact_form input[type="button"]{background-color:#d07b28}
.contact_form input[type="button"]:hover{background-color:#E41B1E; color:#d07b28}

.related_post > h2 i{color:#d07b28}
.form-control:focus{border-color:#d07b28;  box-shadow:0 0px 1px #d07b28 inset,0 0 5px #d07b28}